.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #013914;
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: 0.5s all ease;
  
    &.active {
      background-color: white;
      color: black;
  
      button {
        background-color: white !important;
        color: #1dbf73 !important;
        border: 1px solid #1dbf73 !important;
      }
    }
  
    .container {
      width: 1000px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 20px 0px;
  
      .logo {
        font-size: 34px;
        font-weight: bold;
        font-family: "Montserrat", sans-serif;
  
        .dot {
          font-weight: bold;
          color: #1dbf73;
        }
      }
      .links {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;
  
        span {
            margin: 8px;
            white-space: nowrap;
        }

        span:nth-child(3){
            margin-right: 40px;
        }
  
        .user {
          display: flex;
          align-items: center;
          cursor: pointer;
          position: relative;
  
          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            object-fit: cover;
          }
  
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 50px;
            right: 0;
            padding: 10px;
            background-color: whitesmoke;
            color: gray;
            width: 150px;
            border-radius: 10px;
            border: none;
            font-weight: 500;
            text-align: left;
            transition: 0.2s all ease;
            z-index: 999;

            .link{
                margin-bottom: 10px;
                transition: 0.2s all ease;
            }
            .link:hover{
                scale: 1.05;
                color: darkslategray;
            }
          }
        }
  
        button {
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          border: 1px solid white;
          background-color: transparent;
          cursor: pointer;
  
          &:hover {
            background-color: #1dbf73;
            border-color: #1dbf73;
          }
        }
      }
    }
  
    hr {
      width: calc(100% - 48px);
      height: 0;
      border-top: 0.5px solid #ebe9e9;
      border-bottom: 0.5px solid #ebe9e9;
    }
    .menu {
      width: 1000px;
      padding: 8px 0px;
      display: flex;
      justify-content: space-between;
      color: gray;
      font-size: 12px;
      font-weight: 300;
      font-family: "Montserrat", sans-serif;
      overflow-x: auto;

      .menuLink:hover{
        background-color: rgb(128, 128, 128, 0.1);
        color: black;
        border-radius: 20px;
      }
    }
  }
  